### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [81]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# check the read data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# a player has an unique ID (i.e SN)
TotalPlayer = len(purchase_data["SN"].unique())
print(f"TotalPlayer: {TotalPlayer}\n")

TotalPlayer: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# count unique items
count_unique_item = len(purchase_data["Item ID"].unique())
print(f"number of unique item: {count_unique_item}\n")

number of unique item: 183

In [5]:
# reduced the database on "Item ID" and "Price"
reduced_purchase_data = purchase_data.loc[:,["Item ID", "Price"]]
reduced_purchase_data.head()

# calculate the mean price
average_price = reduced_purchase_data["Price"].mean()
print(f"average price of unique item: {average_price}\n")

average price of unique item: 3.050987179487176

In [6]:
# Count the number of purchase
count_purchase = len(purchase_data["Purchase ID"].unique())
print(f"number of purchase: {count_purchase}\n")

number of purchase: 780

In [7]:
# calculate the total revenue
total_revenue = purchase_data["Price"].sum()
print(f"Total revenue: {total_revenue}\n")

Total revenue: 2379.77

In [8]:
# create a data frame storing all the info just calculated\
summary_df = pd.DataFrame([{"Number of Unique Items":count_unique_item,
                             "Average Price"         :average_price ,
                             "Number of Purchases"   : count_purchase, 
                             "Total Revenue"         :total_revenue
                           }
                          ])
summary_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

In [9]:
# format dataframe
ouput_df = summary_df.style.format({
    'Average Price':"${:,.2f}", 
    'Total Revenue':"${:,.2f}"
})

ouput_df
# I dont know why, output of my dataframe in not in the variable order I used to create my df. 
# It keeps putting in alphabetical order. I tried to fix... but no success

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# count number of male players
# filter dataframe on "Gender"=="Male", 
# then count the unique SN 
male_df=purchase_data.loc[purchase_data["Gender"]=="Male"]
male_count= len(male_df["SN"].unique())
print(f"male count: {male_count}")

male count: 484

In [11]:
# Calculate male percentage
male_count_perc = male_count / TotalPlayer *100
male_count_perc

84.02777777777779

In [12]:
# count number of female players
# filter dataframe on "Gender"=="Female", 
# then count the unique SN 
female_df=purchase_data.loc[purchase_data["Gender"]=="Female"]
female_count= len(female_df["SN"].unique())
print(f"Female count: {female_count}")

Female count: 81

In [13]:
# Calculate female percentage
female_count_perc = female_count / TotalPlayer *100
female_count_perc

14.0625

In [14]:
# Calcuate the number of "Other"
count_other = TotalPlayer - (male_count + female_count)
perc_count_other = count_other/ TotalPlayer *100
print(f"count of other: {count_other}")
print(f"percentage of other: {perc_count_other}")

count of other: 11
percentage of other: 1.9097222222222223

In [15]:
# Create a summary df for gender analysis
data = {''           :['Male','Female','Other / Non-disclosed'],
        'Total count':[male_count, female_count,count_other],
        'Percentage of players':[round(male_count_perc*100)/100,
                                 round(female_count_perc*100)/100,
                                 round(perc_count_other*100)/100]
       }

summary_Gender_df=pd.DataFrame(data)
summary_Gender_df.set_index('')

                       Total count  Percentage of players

Male                           484                  84.03
Female                          81                  14.06
Other / Non-disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
# check male df
male_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
# Purchase count is length of the dataset for male (resp female)
male_purchase_count = len(male_df["Purchase ID"])
female_purchase_count = len(female_df["Purchase ID"])
other_purchase_count = len(female_df["Purchase ID"])

print(f"count male purchase: {male_purchase_count}")
print(f"count female purchase: {female_purchase_count}")

count male purchase: 652
count female purchase: 113

In [18]:
# Other purchase count = total_purchase_count - (male_purchase_count + female_purchase_count ) 
Total_purchase_count = len(purchase_data["Purchase ID"]) 
other_purchase_count = Total_purchase_count - (male_purchase_count + female_purchase_count)
print(f"count other purchase: {other_purchase_count}")

count other purchase: 15

In [19]:
# Calculate total purchase value for male and female
male_purchase_value = male_df["Price"].sum()
female_purchase_value = female_df["Price"].sum()

print(f"male total purchase value: {male_purchase_value}")
print(f"female total purchase value: {female_purchase_value}")

male total purchase value: 1967.64
female total purchase value: 361.94

In [20]:
# Calculate  total purchase value for other
other_purchase_value = total_revenue - (male_purchase_value + female_purchase_value )

print(f"other total purchase value: {other_purchase_value}")

other total purchase value: 50.190000000000055

In [21]:
# calculate the average purchase price for male and female
male_average_purchase_price = male_df["Price"].mean()
female_average_purchase_price = female_df["Price"].mean()

print(f"male average purchase price: {male_average_purchase_price}")
print(f"female average purchase price: {female_average_purchase_price}")

male average purchase price: 3.0178527607361953
female average purchase price: 3.203008849557519

In [22]:
# calculate the average purchase price for other
other_average_purchase_price = other_purchase_value / other_purchase_count
print(f"other average purchase price: {other_average_purchase_price}")

other average purchase price: 3.3460000000000036

In [23]:
#Average total per person
male_average_total_purchase_per_pers = male_purchase_value / male_count
female_average_total_purchase_per_pers = female_purchase_value / female_count
other_average_total_purchase_per_pers = other_purchase_value / count_other

print(f"male average purchase price per person: {male_average_total_purchase_per_pers}")
print(f"female average purchase price per person: {female_average_total_purchase_per_pers}")
print(f"other average purchase price per person: {other_average_total_purchase_per_pers}")

male average purchase price per person: 4.065371900826446
female average purchase price per person: 4.468395061728395
other average purchase price per person: 4.562727272727278

In [24]:
# Create a summary df for purchase analysis
data = {''           :['Female','Male','Other / Non-disclosed'],
        'Purchase count':[female_purchase_count, 
                          male_purchase_count,
                          other_purchase_count],
        
        'Average Purchase Value':[female_average_purchase_price,
                                  male_average_purchase_price,
                                  other_average_purchase_price],
        
        'Total Purchase Value':[female_purchase_value,
                                 male_purchase_value,
                                 other_purchase_value],
        'Avg Total Purchase per Person':[female_average_total_purchase_per_pers, 
                                         male_average_total_purchase_per_pers,
                                         other_average_total_purchase_per_pers]
       }

summary_Gender_df=pd.DataFrame(data)

summary_Gender_df.set_index('').style.format({'Average Purchase Value': '${:,.2f}'.format , 
                                              'Total Purchase Value':'${:,.2f}'.format , 
                                              'Avg Total Purchase per Person': '${:,.2f}'.format 
                                             })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
#extract column for "Age" and "SN"
extract_DF = purchase_data.loc[:,["Age", "SN"]]

# remove duplicate data
extract_DF =extract_DF.drop_duplicates()

# inital data length = 780 data
extract_DF.count()

Age    576
SN     576
dtype: int64

In [26]:
#define the bins for ages
age_bins = [0,9, 14,19,24,29,34,39,100]

# define bins label
age_bin_labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_bin_labels

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [27]:
## Divide into bins
pd.cut(extract_DF["Age"], bins=age_bins, labels=age_bin_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [28]:
# classify age data into "Age Category" 

extract_DF["Age category"]= pd.cut(extract_DF["Age"], bins=age_bins, labels=age_bin_labels)
extract_DF.head(20)

    Age             SN Age category
0    20        Lisim78        20-24
1    40    Lisovynya38          40+
2    24     Ithergue48        20-24
3    24  Chamassasya86        20-24
4    23      Iskosia90        20-24
5    22        Yalae81        20-24
6    36      Itheria73        35-39
7    20    Iskjaskst81        20-24
8    22      Undjask33        20-24
9    35    Chanosian48        35-39
10   23      Inguron55        20-24
11   23   Haisrisuir60        20-24
12   21   Saelaephos52        20-24
13   22    Assjaskan73        20-24
14   35    Saesrideu94        35-39
15   21      Lisassa64        20-24
16   20      Lisirra25        20-24
17   21      Zontibe81        20-24
18   22      Reunasu60        20-24
19   30      Chamalo71        30-34

In [29]:
# group by "Age Categoy"

Group_by_ageCat_df = extract_DF.groupby("Age category")
Group_by_ageCat_df.head()

     Age             SN Age category
0     20        Lisim78        20-24
1     40    Lisovynya38          40+
2     24     Ithergue48        20-24
3     24  Chamassasya86        20-24
4     23      Iskosia90        20-24
5     22        Yalae81        20-24
6     36      Itheria73        35-39
9     35    Chanosian48        35-39
14    35    Saesrideu94        35-39
19    30      Chamalo71        30-34
22    38   Siarithria38        35-39
23    40       Eyrian71          40+
24    30        Siala43        30-34
25    29      Lisirra87        25-29
26    11     Lirtossa84        10-14
27     7        Eusri44          <10
30    19         Idai61        15-19
31    37    Farusrian86        35-39
32    10     Aeralria27        10-14
33     7   Haillyrgue51          <10
34    19       Sondim73        15-19
36    30     Idaisuir85        30-34
37     8      Seuthep89          <10
38    10       Reulae52        10-14
42    18  Aidaillodeu39        15-19
46    27      Yasrisu92        25-29
49    33    Iaralrgue74        30-34
53    32    Ilosianya35        30-34
54    10     Zhisrisu83        10-14
55    25      Phaelap26        25-29
56    12       Raesty92        10-14
59    19       Yaliru88        15-19
61    17     Jiskimya77        15-19
65    25   Chamirraya83        25-29
70    29      Pheodai94        25-29
81     8       Heudai45          <10
187    8     Tyeurith29          <10
220   40     Jiskjask85          40+
248   44     Isursuir31          40+
341   41    Hiasurria41          40+

In [30]:
# count element in each age category
age_cat_count = Group_by_ageCat_df["Age"].count()
age_cat_count

Age category
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [83]:
perc_player = []
for i in range (len(age_cat_count)):

    perc_player.append(age_cat_count[i]*100/TotalPlayer)
    
perc_player

[2.951388888888889,
 3.8194444444444446,
 18.57638888888889,
 44.791666666666664,
 13.368055555555555,
 9.027777777777779,
 5.381944444444445,
 2.0833333333333335]

In [90]:
# store in dataframe
summary_age_demo = {'Total count' : age_cat_count, 
                    'Percentage of players' : perc_player          
}

summary_age_demo_df = pd.DataFrame(summary_age_demo)
summary_age_demo_df.index.names=[""]
summary_age_demo_df=summary_age_demo_df.style.format({'Percentage of players': '{:,.2f}'.format})
summary_age_demo_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
# check purchase_data to extract necessary data from purchase_data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [34]:
#extract column for "Age" and "SN"
extract_DF = purchase_data.loc[:,["Age", "Price","SN"]]
extract_DF.head()

   Age  Price             SN
0   20   3.53        Lisim78
1   40   1.56    Lisovynya38
2   24   4.88     Ithergue48
3   24   3.27  Chamassasya86
4   23   1.44      Iskosia90

In [35]:
#define the bins for ages
age_bins = [0,9, 14,19,24,29,34,39,100]

# define bins label
age_bin_labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_bin_labels

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [36]:
## Divide into bins
pd.cut(extract_DF["Age"], bins=age_bins, labels=age_bin_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [37]:
# classify age data into "Age Category" 

extract_DF["Age category"]= pd.cut(extract_DF["Age"], bins=age_bins, labels=age_bin_labels)
extract_DF.head(20)

    Age  Price             SN Age category
0    20   3.53        Lisim78        20-24
1    40   1.56    Lisovynya38          40+
2    24   4.88     Ithergue48        20-24
3    24   3.27  Chamassasya86        20-24
4    23   1.44      Iskosia90        20-24
5    22   3.61        Yalae81        20-24
6    36   2.18      Itheria73        35-39
7    20   2.67    Iskjaskst81        20-24
8    22   1.10      Undjask33        20-24
9    35   3.58    Chanosian48        35-39
10   23   4.74      Inguron55        20-24
11   23   2.67   Haisrisuir60        20-24
12   21   4.18   Saelaephos52        20-24
13   22   1.70    Assjaskan73        20-24
14   35   4.86    Saesrideu94        35-39
15   21   2.89      Lisassa64        20-24
16   20   2.52      Lisirra25        20-24
17   21   1.76      Zontibe81        20-24
18   22   4.90      Reunasu60        20-24
19   30   4.64      Chamalo71        30-34

In [38]:
# group by "Age Categoy"

Purchase_Group_by_ageCat_df = extract_DF.groupby("Age category")
Purchase_Group_by_ageCat_df.head()

     Age  Price             SN Age category
0     20   3.53        Lisim78        20-24
1     40   1.56    Lisovynya38          40+
2     24   4.88     Ithergue48        20-24
3     24   3.27  Chamassasya86        20-24
4     23   1.44      Iskosia90        20-24
5     22   3.61        Yalae81        20-24
6     36   2.18      Itheria73        35-39
9     35   3.58    Chanosian48        35-39
14    35   4.86    Saesrideu94        35-39
19    30   4.64      Chamalo71        30-34
22    38   3.81   Siarithria38        35-39
23    40   3.40       Eyrian71          40+
24    30   3.19        Siala43        30-34
25    29   4.23      Lisirra87        25-29
26    11   1.61     Lirtossa84        10-14
27     7   3.09        Eusri44          <10
30    19   2.94         Idai61        15-19
31    37   4.48    Farusrian86        35-39
32    10   4.09     Aeralria27        10-14
33     7   2.38   Haillyrgue51          <10
34    19   4.40       Sondim73        15-19
36    30   3.15     Idaisuir85        30-34
37     8   2.05      Seuthep89          <10
38    10   4.18       Reulae52        10-14
42    18   3.77  Aidaillodeu39        15-19
46    27   3.44      Yasrisu92        25-29
49    33   1.44    Iaralrgue74        30-34
53    32   2.84    Ilosianya35        30-34
54    10   4.35     Zhisrisu83        10-14
55    25   3.79      Phaelap26        25-29
56    12   3.53       Raesty92        10-14
59    19   3.03       Yaliru88        15-19
61    17   4.23     Jiskimya77        15-19
65    25   2.22   Chamirraya83        25-29
70    29   1.56      Pheodai94        25-29
78     7   4.60   Haillyrgue51          <10
81     8   3.47       Heudai45          <10
156   40   1.79       Eyrian71          40+
220   40   1.33     Jiskjask85          40+
248   44   3.39     Isursuir31          40+

In [50]:
# count element in each age category
Purchase_age_cat_count = Purchase_Group_by_ageCat_df["Age"].count()
Purchase_age_cat_count.head

Age category
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
Name: Age, dtype: int64

In [43]:
totalPurchase = Purchase_Group_by_ageCat_df["Price"].sum()
totalPurchase

Age category
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [52]:
MeanPurchase = Purchase_Group_by_ageCat_df["Price"].mean()
MeanPurchase

<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [62]:
summary_age_demo

{'Total count':
 <10       17
 10-14     22
 15-19    107
 20-24    258
 25-29     77
 30-34     52
 35-39     31
 40+       12
 Name: Age, dtype: int64,
 'Percentage of players': [2.95, 3.82, 18.58, 44.79, 13.37, 9.03, 5.38, 2.08]}

In [69]:
Average_Total_per_pers = Purchase_Group_by_ageCat_df["Price"].sum()/ summary_age_demo_df["Total count"]
Average_Total_per_pers

<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [91]:
# store in dataframe
summary_age_purchase = {'Purchase count' : Purchase_age_cat_count, 
                        'Avg Purchase Price': MeanPurchase,
                        'Total Purchase Value' : totalPurchase  ,
                        'Avg Total Pruchase per Person': Average_Total_per_pers
}
summary_age_purchase = pd.DataFrame(summary_age_purchase)
#summary_age_purchase.index.names=[""]
summary_age_purchase=summary_age_purchase.style.format({
                                              'Total Purchase Value': '${:,.2f}'.format , 
                                              'Avg Purchase Price':'${:,.2f}'.format , 
                                              'Avg Total Pruchase per Person': '${:,.2f}'.format 
                                             })
summary_age_purchase

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame