### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [97]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
# check the read data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# a player has an unique ID (i.e SN)
TotalPlayer = len(purchase_data["SN"].unique())
print(f"TotalPlayer: {TotalPlayer}\n")

TotalPlayer: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# count unique items
count_unique_item = len(purchase_data["Item ID"].unique())
print(f"number of unique item: {count_unique_item}\n")

number of unique item: 183

In [13]:
# reduced the database on "Item ID" and "Price"
reduced_purchase_data = purchase_data.loc[:,["Item ID", "Price"]]
reduced_purchase_data.head()

# calculate the mean price
average_price = reduced_purchase_data["Price"].mean()
print(f"average price of unique item: {average_price}\n")

average price of unique item: 3.050987179487176

In [14]:
# Count the number of purchase
count_purchase = len(purchase_data["Purchase ID"].unique())
print(f"number of purchase: {count_purchase}\n")

number of purchase: 780

In [15]:
# calculate the total revenue
total_revenue = purchase_data["Price"].sum()
print(f"Total revenue: {total_revenue}\n")

Total revenue: 2379.77

In [16]:
# create a data frame storing all the info just calculated\
summary_df = pd.DataFrame([{"Number of Unique Items":count_unique_item,
                             "Average Price"         :average_price ,
                             "Number of Purchases"   : count_purchase, 
                             "Total Revenue"         :total_revenue
                           }
                          ])
summary_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

In [17]:
# format dataframe
ouput_df = summary_df.style.format({
    'Average Price':"${:,.2f}", 
    'Total Revenue':"${:,.2f}"
})

ouput_df
# I dont know why, output of my dataframe in not in the variable order I used to create my df. 
# It keeps putting in alphabetical order. I tried to fix... but no success

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [18]:
# count number of male players
# filter dataframe on "Gender"=="Male", 
# then count the unique SN 
male_df=purchase_data.loc[purchase_data["Gender"]=="Male"]
male_count= len(male_df["SN"].unique())
print(f"male count: {male_count}")

male count: 484

In [30]:
# Calculate male percentage
male_count_perc = male_count / TotalPlayer *100
male_count_perc

84.02777777777779

In [31]:
# count number of female players
# filter dataframe on "Gender"=="Female", 
# then count the unique SN 
female_df=purchase_data.loc[purchase_data["Gender"]=="Female"]
female_count= len(female_df["SN"].unique())
print(f"Female count: {female_count}")

Female count: 81

In [32]:
# Calculate female percentage
female_count_perc = female_count / TotalPlayer *100
female_count_perc

14.0625

In [33]:
# Calcuate the number of "Other"
count_other = TotalPlayer - (male_count + female_count)
perc_count_other = count_other/ TotalPlayer *100
print(f"count of other: {count_other}")
print(f"percentage of other: {perc_count_other}")

count of other: 11
percentage of other: 1.9097222222222223

In [40]:
# Create a summary df for gender analysis
data = {''           :['Male','Female','Other / Non-disclosed'],
        'Total count':[male_count, female_count,count_other],
        'Percentage of players':[round(male_count_perc*100)/100,
                                 round(female_count_perc*100)/100,
                                 round(perc_count_other*100)/100]
       }

summary_Gender_df=pd.DataFrame(data)
summary_Gender_df.set_index('')

                       Total count  Percentage of players

Male                           484                  84.03
Female                          81                  14.06
Other / Non-disclosed           11                   1.91

In [4]:
# Original table in the homework file

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
# check male df
male_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [47]:
# Purchase count is length of the dataset for male (resp female)
male_purchase_count = len(male_df["Purchase ID"])
female_purchase_count = len(female_df["Purchase ID"])
other_purchase_count = len(female_df["Purchase ID"])

print(f"count male purchase: {male_purchase_count}")
print(f"count female purchase: {female_purchase_count}")

count male purchase: 652
count female purchase: 113

In [51]:
# Other purchase count = total_purchase_count - (male_purchase_count + female_purchase_count ) 
Total_purchase_count = len(purchase_data["Purchase ID"]) 
other_purchase_count = Total_purchase_count - (male_purchase_count + female_purchase_count)
print(f"count other purchase: {other_purchase_count}")

count other purchase: 15

In [53]:
# Calculate total purchase value for male and female
male_purchase_value = male_df["Price"].sum()
female_purchase_value = female_df["Price"].sum()

print(f"male total purchase value: {male_purchase_value}")
print(f"female total purchase value: {female_purchase_value}")

male total purchse value: 1967.64
female total purchse value: 361.94

In [56]:
# Calculate  total purchase value for other
other_purchase_value = total_revenue - (male_purchase_value + female_purchase_value )

print(f"other total purchase value: {other_purchase_value}")

other total purchase value: 50.190000000000055

In [58]:
# calculate the average purchase price for male and female
male_average_purchase_price = male_df["Price"].mean()
female_average_purchase_price = female_df["Price"].mean()

print(f"male average purchase price: {male_average_purchase_price}")
print(f"female average purchase price: {female_average_purchase_price}")

male average purchase price: 3.0178527607361953
female average purchase price: 3.203008849557519

In [61]:
# calculate the average purchase price for other
other_average_purchase_price = other_purchase_value / other_purchase_count
print(f"other average purchase price: {other_average_purchase_price}")

other average purchase price: 3.3460000000000036

In [72]:
#Average total per person
male_average_total_purchase_per_pers = male_purchase_value / male_count
female_average_total_purchase_per_pers = female_purchase_value / female_count
other_average_total_purchase_per_pers = other_purchase_value / count_other

print(f"male average purchase price per person: {male_average_total_purchase_per_pers}")
print(f"female average purchase price per person: {female_average_total_purchase_per_pers}")
print(f"other average purchase price per person: {other_average_total_purchase_per_pers}")

male average purchase price per person: 4.065371900826446
female average purchase price per person: 4.468395061728395
other average purchase price per person: 4.562727272727278

In [85]:
# Create a summary df for purchase analysis
data = {''           :['Female','Male','Other / Non-disclosed'],
        'Purchase count':[female_purchase_count, 
                          male_purchase_count,
                          other_purchase_count],
        
        'Average Purchase Value':[female_average_purchase_price,
                                  male_average_purchase_price,
                                  other_average_purchase_price],
        
        'Total Purchase Value':[female_purchase_value,
                                 male_purchase_value,
                                 other_purchase_value],
        'Avg Total Purchase per Person':[female_average_total_purchase_per_pers, 
                                         male_average_total_purchase_per_pers,
                                         other_average_total_purchase_per_pers]
       }

summary_Gender_df=pd.DataFrame(data)

summary_Gender_df.set_index('').style.format({'Average Purchase Value': '${:,.2f}'.format , 
                                              'Total Purchase Value':'${:,.2f}'.format , 
                                              'Avg Total Purchase per Person': '${:,.2f}'.format 
                                             })

In [5]:
# Original table in the homework file

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [109]:
#define the bins for ages
age_bins = [9, 14,19,24,29,34,39,100]

# define bins label
age_bin_labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_bin_labels

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [110]:
# Slice the data and place it into bins
#purchase_data['Age'].head()
pd.cut(purchase_data["Age"], age_bins, age_bin_labels).head()

0     (19, 24]
1    (39, 100]
2     (19, 24]
3     (19, 24]
4     (19, 24]
Name: Age, dtype: category
Categories (7, interval[int64]): [(9, 14] < (14, 19] < (19, 24] < (24, 29] < (29, 34] < (34, 39] < (39, 100]]

In [115]:
# place group data in new colums
purchase_data["Age category"]= pd.cut(purchase_data["Age"], age_bins, age_bin_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total count per age category,age category,Age category
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"(19, 24]","(19, 24]","(19, 24]"
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,"(39, 100]","(39, 100]","(39, 100]"
2,2,Ithergue48,24,Male,92,Final Critic,4.88,"(19, 24]","(19, 24]","(19, 24]"
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,"(19, 24]","(19, 24]","(19, 24]"
4,4,Iskosia90,23,Male,131,Fury,1.44,"(19, 24]","(19, 24]","(19, 24]"

In [117]:
# Create a GroupBy object based upon "Age category"
purchase_age = purchase_data.groupby("Age category")
purchase_age.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total count per age category,age category,Age category
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"(19.0, 24.0]","(19.0, 24.0]","(19.0, 24.0]"
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,"(39.0, 100.0]","(39.0, 100.0]","(39.0, 100.0]"
2,2,Ithergue48,24,Male,92,Final Critic,4.88,"(19.0, 24.0]","(19.0, 24.0]","(19.0, 24.0]"
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,"(19.0, 24.0]","(19.0, 24.0]","(19.0, 24.0]"
4,4,Iskosia90,23,Male,131,Fury,1.44,"(19.0, 24.0]","(19.0, 24.0]","(19.0, 24.0]"
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,"(19.0, 24.0]","(19.0, 24.0]","(19.0, 24.0]"
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,"(34.0, 39.0]","(34.0, 39.0]","(34.0, 39.0]"
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,"(34.0, 39.0]","(34.0, 39.0]","(34.0, 39.0]"
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,"(34.0, 39.0]","(34.0, 39.0]","(34.0, 39.0]"
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,"(29.0, 34.0]","(29.0, 34.0]","(29.0, 34.0]"
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,"(34.0, 39.0]","(34.0, 39.0]","(34.0, 39.0]"
23,23,Eyrian71,40,Male,151,Severance,3.40,"(39.0, 100.0]","(39.0, 100.0]","(39.0, 100.0]"
24,24,Siala43,30,Male,141,Persuasion,3.19,"(29.0, 34.0]","(29.0, 34.0]","(29.0, 34.0]"
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,"(24.0, 29.0]","(24.0, 29.0]","(24.0, 29.0]"
26,26,Lirtossa84,11,Male,71,Demise,1.61,"(9.0, 14.0]","(9.0, 14.0]","(9.0, 14.0]"
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,NaN,NaN,NaN
30,30,Idai61,19,Male,140,Striker,2.94,"(14.0, 19.0]","(14.0, 19.0]","(14.0, 19.0]"
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,"(34.0, 39.0]","(34.0, 39.0]","(34.0, 39.0]"
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,"(9.0, 14.0]","(9.0, 14.0]","(9.0, 14.0]"
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,NaN,NaN,NaN
34,34,Sondim73,19,Male,160,Azurewrath,4.40,"(14.0, 19.0]","(14.0, 19.0]","(14.0, 19.0]"
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,"(29.0, 34.0]","(29.0, 34.0]","(29.0, 34.0]"
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,NaN,NaN,NaN
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,"(9.0, 14.0]","(9.0, 14.0]","(9.0, 14.0]"
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,"(14.0, 19.0]","(14.0, 19.0]","(14.0, 19.0]"
46,46,Yasrisu92,27,Male,102,Avenger,3.44,"(24.0, 29.0]","(24.0, 29.0]","(24.0, 29.0]"
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,"(29.0, 34.0]","(29.0, 34.0]","(29.0, 34.0]"
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,"(29.0, 34.0]","(29.0, 34.0]","(29.0, 34.0]"
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,"(9.0, 14.0]","(9.0, 14.0]","(9.0, 14.0]"
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,"(24.0, 29.0]","(24.0, 29.0]","(24.0, 29.0]"
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"(9.0, 14.0]","(9.0, 14.0]","(9.0, 14.0]"
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,"(14.0, 19.0]","(14.0, 19.0]","(14.0, 19.0]"
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,"(14.0, 19.0]","(14.0, 19.0]","(14.0, 19.0]"
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,"(24.0, 29.0]","(24.0, 29.0]","(24.0, 29.0]"
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,"(24.0, 29.0]","(24.0, 29.0]","(24.0, 29.0]"
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,NaN,NaN,NaN
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,NaN,NaN,NaN
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,"(39.0, 100.0]","(39.0, 100.0]","(39.0, 100.0]"
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,"(39.0, 100.0]","(39.0, 100.0]","(39.0, 100.0]"
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,"(39.0, 100.0]","(39.0, 100.0]","(39.0, 100.0]"

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80